<header class="header" [ngClass]="{ 'dark-theme': isDarkTheme }">
  <div class="header-left">
    <button class="menu-toggle">
      <!-- <i class="fas fa-bars"></i> -->
    </button>
    <h1>Portfolio Management</h1>
  </div>

  <div class="header-right">
    <button class="profile-btn" [ngClass]="{ 'dark-theme': isDarkTheme }">
      <i class="fas fa-user-circle"></i>
      <span>{{ getUsername() }}</span>
    </button>
    <button class="logout-btn" (click)="logout()">
      <i class="fas fa-sign-out-alt"></i>
    </button>
  </div>
</header>
